.navMenu {
  flex-wrap: wrap;

  &.toggle {
    flex-direction: column;

    .navItem {
      display: flex;
    }

    #ham_icon {
      display: none;
    }

    #ham_close {
      @include hamIconStyle;
      display: block;
      position: fixed;
      right: 0;
      top: 0;
    }

  }

  #ham_icon {
    @include hamIconStyle;
  }

}

.navItem {

  display: none;


  &.current {
    @include navItemStyle-mobile;

    display: flex;

  }

  &:hover {
    @include navItemStyle-mobile;
  }

}

.msg {
  width: 30%;
}


#container {
  margin: 10px 0;

  #range {
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 0 10%;

    div {
      display: flex;
      margin: 0.5rem;
      justify-content: flex-start;
      width: 0;
      padding: 0 5px;
    }

  }
}


.btn-group {
  margin: 30px 10%;
  display: flex;
  justify-content: space-evenly;
}


.topButton {
  margin: 0 auto;
}