/* Error: Undefined mixin.
 *    ,
 * 16 |       @include hamIconStyle;
 *    |       ^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   mobile.scss 16:7  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 16 \2502        @include hamIconStyle;\a    \2502        ^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   mobile.scss 16:7  root stylesheet";
}
