$thmGreen: #80BA24;
$thmGrey: #4A5C66;
$thmBlue:  #002878;
$thmYellow: #F4AA00;
$thmLightBlue: #00B8E4;
$thmRed: #9C132E;
$font: Roboto, sans-serif;

@mixin navItemStyle {
  text-decoration: overline $thmGreen;
  text-decoration-thickness: 3px;
}

@mixin buttonStyle {
  background-color: $thmGrey;
  border: none;
  color: $thmGreen;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  cursor: pointer;
  width: fit-content;
  border-radius: 10px;
}


html, body {
  font-family: $font;
}

  body {
    background-color: black;
    margin: 0;
  }


  #HeadNav {
    position: sticky;
    top: 0;
    z-index: 11;
  }

  #header {
    display: flex;
    background-color: $thmGreen;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    h1 {
      color: white;
      font-size: clamp(2rem, 3vw, 4rem);
      letter-spacing: 4px;
    }

  }

  .navMenu {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    padding: 0;
    flex-wrap: wrap;
    background-color: $thmGrey;

    #ham_icon, #ham_close {
      display: none;
    }
  }

  .navItem {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: medium;
    padding: 5px 15px;
    background-color: $thmGrey;

    &:hover {
      @include navItemStyle;
    }

    &:active {
      @include navItemStyle;
    }

    &.current {
      @include navItemStyle;
    }
  }

  #content{
    scroll-snap-type: y proximity;
    scroll-padding: 20px 0;
  }

  .contentSection {
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    width: 80%;
    margin: 20px 10% 0;
    border-radius: 10px;
    min-height: 400px;

    h2, h3 {
      color: $thmGreen;
      padding-left: 10px;
    }

    p {
      padding: 0 10px;
    }

  }

#hiddenBoxes {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem;
}
.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem 0 1rem 0;
}
.box {
  padding: 15px 19px;
  background-color: $thmBlue;
  color: white;
}
.arrow {
  padding: 15px 0;
}
.textContainer {
  width: auto;
  text-align: center;

  #textBox {
    display: inline-block;
    font-weight: bold;
  }
}
.banner {
  background-color: $thmGrey;
  color: white;
  padding: 1em 2em;
}
#nextBtn, #restartBtn {
  width: auto;
  margin: 1em auto;
  @include buttonStyle;
}

  #legend {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    margin-left: 10px;
    margin-bottom: 30px;
    width: fit-content;

    #pivot {
      background-color: $thmYellow;
      color: white;
      padding: 0 14px;
      font-size: medium;
    }

    #ltPivot {
      background-color: $thmLightBlue;
      color: white;
      font-size: medium;
      padding-left: 3px;
    }

    #gtPivot {
      background-color: $thmRed;
      color: white;
      font-size: medium;
      padding-left: 3px;

    }

  }

  .msg {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 30% 20px;
    background-color: $thmGrey;
    color: white;
    height: 3rem;
    font-size: 1.5rem;
    width: 40%;

    &.show {
      display: flex;
    }
  }


  #container {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    margin: 10px 0;

    #range, {
      overflow: visible;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      height: 24rem;
      background-color: transparent;
      width: 80%;
      margin: 0 10%;

      div {
        display: flex;
        flex: 1 1 10%;
        background-color: $thmBlue;
        margin: 0 0.5rem;
        justify-content: center;
        align-items: flex-end;
        color: white;
        padding: 5px 0;
      }

    }
  }

  .btn-group{
    margin: 5px auto;
  }

  #sortButton {
    @include buttonStyle;
  }

  #newButton{
    @include buttonStyle;

    &:disabled {
      cursor: default;
    }
  }

  #cancelButton {
    @include buttonStyle;
    display: none;
  }

.infoBox {
  text-align: center;
}

.practiceContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;

  .answers, .question {
    width: 33%;
    margin: 1em;
    padding: 1em;
    background-color: $thmGrey;
    color: white;
    text-align: center;
  }

  .question {
    width: 100%;
  }

  .answers{
    cursor: pointer;
    &:hover{
      border-style: solid;
      border-color: $thmGreen;
    }
  }
}

  .topButton {
    position: sticky;
    bottom: 90px;
    float: right;
    margin: 0 3%;
    opacity: 0;

    .fa-caret-square-up {
      color: $thmGreen;
      font-size: 5vh;
    }

  }

  #footer {
    background-color: $thmGreen;
    width: 100%;
    margin-top: 5%;

    p {
      text-decoration: none;
      color: white;
      text-align: center;
    }
  }
  /* mobile */

  @mixin navItemStyle-mobile {
    text-decoration: underline $thmGreen;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
  }

  @mixin hamIconStyle {
    display: flex;
    position: sticky;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: large;
    cursor: pointer;
  }

  @media screen and(max-width: 681px) {

    @import "mobile.scss";

  }
/* large screens */
@media  screen and(min-width: 1300px) {
 .navMenu{
   width: 50%;
 }
  .contentSection{
    width: 50%;
    margin: 20px 25% 0;
    min-height: 500px;

  }

  
}
