html, body {
  font-family: Roboto, sans-serif;
}

body {
  background-color: black;
  margin: 0;
}

#HeadNav {
  position: sticky;
  top: 0;
  z-index: 11;
}

#header {
  display: flex;
  background-color: #80BA24;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#header h1 {
  color: white;
  font-size: clamp(2rem, 3vw, 4rem);
  letter-spacing: 4px;
}

.navMenu {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  padding: 0;
  flex-wrap: wrap;
  background-color: #4A5C66;
}
.navMenu #ham_icon, .navMenu #ham_close {
  display: none;
}

.navItem {
  display: flex;
  color: white;
  text-decoration: none;
  font-size: medium;
  padding: 5px 15px;
  background-color: #4A5C66;
}
.navItem:hover {
  text-decoration: overline #80BA24;
  text-decoration-thickness: 3px;
}
.navItem:active {
  text-decoration: overline #80BA24;
  text-decoration-thickness: 3px;
}
.navItem.current {
  text-decoration: overline #80BA24;
  text-decoration-thickness: 3px;
}

#content {
  scroll-snap-type: y proximity;
  scroll-padding: 20px 0;
}

.contentSection {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  width: 80%;
  margin: 20px 10% 0;
  border-radius: 10px;
  min-height: 400px;
}
.contentSection h2, .contentSection h3 {
  color: #80BA24;
  padding-left: 10px;
}
.contentSection p {
  padding: 0 10px;
}

#hiddenBoxes {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem 0 1rem 0;
}

.box {
  padding: 15px 19px;
  background-color: #002878;
  color: white;
}

.arrow {
  padding: 15px 0;
}

.textContainer {
  width: auto;
  text-align: center;
}
.textContainer #textBox {
  display: inline-block;
  font-weight: bold;
}

.banner {
  background-color: #4A5C66;
  color: white;
  padding: 1em 2em;
}

#nextBtn, #restartBtn {
  width: auto;
  margin: 1em auto;
  background-color: #4A5C66;
  border: none;
  color: #80BA24;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  cursor: pointer;
  width: fit-content;
  border-radius: 10px;
}

#legend {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
  margin-left: 10px;
  margin-bottom: 30px;
  width: fit-content;
}
#legend #pivot {
  background-color: #F4AA00;
  color: white;
  padding: 0 14px;
  font-size: medium;
}
#legend #ltPivot {
  background-color: #00B8E4;
  color: white;
  font-size: medium;
  padding-left: 3px;
}
#legend #gtPivot {
  background-color: #9C132E;
  color: white;
  font-size: medium;
  padding-left: 3px;
}

.msg {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 30% 20px;
  background-color: #4A5C66;
  color: white;
  height: 3rem;
  font-size: 1.5rem;
  width: 40%;
}
.msg.show {
  display: flex;
}

#container {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  margin: 10px 0;
}
#container #range {
  overflow: visible;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 24rem;
  background-color: transparent;
  width: 80%;
  margin: 0 10%;
}
#container #range div {
  display: flex;
  flex: 1 1 10%;
  background-color: #002878;
  margin: 0 0.5rem;
  justify-content: center;
  align-items: flex-end;
  color: white;
  padding: 5px 0;
}

.btn-group {
  margin: 5px auto;
}

#sortButton {
  background-color: #4A5C66;
  border: none;
  color: #80BA24;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  cursor: pointer;
  width: fit-content;
  border-radius: 10px;
}

#newButton {
  background-color: #4A5C66;
  border: none;
  color: #80BA24;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  cursor: pointer;
  width: fit-content;
  border-radius: 10px;
}
#newButton:disabled {
  cursor: default;
}

#cancelButton {
  background-color: #4A5C66;
  border: none;
  color: #80BA24;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  cursor: pointer;
  width: fit-content;
  border-radius: 10px;
  display: none;
}

.infoBox {
  text-align: center;
}

.practiceContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}
.practiceContainer .answers, .practiceContainer .question {
  width: 33%;
  margin: 1em;
  padding: 1em;
  background-color: #4A5C66;
  color: white;
  text-align: center;
}
.practiceContainer .question {
  width: 100%;
}
.practiceContainer .answers {
  cursor: pointer;
}
.practiceContainer .answers:hover {
  border-style: solid;
  border-color: #80BA24;
}

.topButton {
  position: sticky;
  bottom: 90px;
  float: right;
  margin: 0 3%;
  opacity: 0;
}
.topButton .fa-caret-square-up {
  color: #80BA24;
  font-size: 5vh;
}

#footer {
  background-color: #80BA24;
  width: 100%;
  margin-top: 5%;
}
#footer p {
  text-decoration: none;
  color: white;
  text-align: center;
}

/* mobile */
@media screen and (max-width: 681px) {
  .navMenu {
    flex-wrap: wrap;
  }
  .navMenu.toggle {
    flex-direction: column;
  }
  .navMenu.toggle .navItem {
    display: flex;
  }
  .navMenu.toggle #ham_icon {
    display: none;
  }
  .navMenu.toggle #ham_close {
    display: flex;
    position: sticky;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: large;
    cursor: pointer;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
  }
  .navMenu #ham_icon {
    display: flex;
    position: sticky;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: large;
    cursor: pointer;
  }

  .navItem {
    display: none;
  }
  .navItem.current {
    text-decoration: underline #80BA24;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
    display: flex;
  }
  .navItem:hover {
    text-decoration: underline #80BA24;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
  }

  .msg {
    width: 30%;
  }

  #container {
    margin: 10px 0;
  }
  #container #range {
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 0 10%;
  }
  #container #range div {
    display: flex;
    margin: 0.5rem;
    justify-content: flex-start;
    width: 0;
    padding: 0 5px;
  }

  .btn-group {
    margin: 30px 10%;
    display: flex;
    justify-content: space-evenly;
  }

  .topButton {
    margin: 0 auto;
  }
}
/* large screens */
@media screen and (min-width: 1300px) {
  .navMenu {
    width: 50%;
  }

  .contentSection {
    width: 50%;
    margin: 20px 25% 0;
    min-height: 500px;
  }
}

/*# sourceMappingURL=style.css.map */
